body{
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 49);
}

.my-canvas{
    background-color: white;
   
}
/* se voglio cambiare i pixel effettivi devo settere le dimensioni da html */